/*
	CSS Syntax
		selector {
			propertyA:valueA;
			propertyB:valueB;
		}
*/

/*
	* : Universal selector; it selects all elements in the webpage.
	font-family:"Courier New", monospace;
		>> it tells the browswer to use Courier New as its main font for content. However, if the browser is not able to display the font, it will search its fonts that belong to the family of monospace.

	font-size : sets the size of the font of the element.
 */

*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*
	html selector : selects all the elements inside the html tags
	background-color : it changes the background color of the element
	body selector: ;
*/
html{
	scroll-behavior: smooth;
}
	
body{
	background-color: skyblue;

}
 
nav{
	background-color: white;
}

/*
	selector: hover : changes the style of the elements onc the mouse is hovered over it.
*/
a:hover{
	background-color: #b4d6de;
}

/*
	> : child selector; allows selection of the child of the first selector/element
*/
nav>div{
	/*
		display : inline-block; it allows changing the display of the element from block to inline-block
			inline-block : the element acts as a block element but is inline with its sibling elements

		float : Changes the horizontal alignment of the element and puts it on the specified position/side. In this case the element is floated to the right side of the div container
	*/
	display: inline-block;
	float: right;
}

/*Tag selectors*/

h1{
	/*
		rem :  Root element measurement (html tag is the root)
		1 rem = 16px

		!important : overrides/disregards the ranking of priority and makes the property the main priority.
	*/
	color: red!important;
	font-size: 2rem;
	text-align: center;
}

section{
	/*
		height : changes the height of the element
			vh : viewport height; this measures the height of the screen of the user.
			100vh = 100% of the viewport height of the user's device.
	*/
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

ol{
	/*
		list-style-type: changes the style of the list element
	*/
	list-style-type: none;
}

/*
	ID SELECTORS
		#idName{
			property:  value;
		}
*/

#zuitt-motto{
	letter-spacing: 5px;
	font-size: 30px;
}

/*
	class selector : selects the elements with the same class name
	.className{
		property: value;
	}
*/
.offered-items{
	/*text-transform : changes the casing of the text elements */
	text-transform: uppercase;
}

/*
	attribute-selector : selects an elements with the same attribute
	tag[attribute]{
		property: value;
	}
*/
input[required]{
	/*
		border-width : changes the width of the element's border
		border-style : changes the style of the element's border
		border-color : changes the color of the element's border
	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*
	adjacent sibling selector : selects the sibling element directly after the first element
*/
h3+img{
	/*
		height and width : changes the height and the width of the element
		border-radius : it rounds the corner of the element
	*/
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*
	descendant selectors
		first selector descenant{
			property: value;
		}
*/
section li{
	color: blue;
}

/*
	general sibling selector : selects the sibling element that comes after the first selector.
		firstSelector~secondSelector
*/
h2~a{
	/*text-decoration : it changes the decoration of the text element e.g overline, underline and line-through*/
	text-decoration: none;
}

form{
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: white;
	/*
		border : can be used to modify the border of the element
			border: width style color;
	*/

	border: 2px solid black;
	/*
		vw : the measurement of the screen width of the user device. Its default display is always on the left side of the screen
	*/
	width: 25vw;
	position: relative;
	/*
		position : allows the changing of position of an element 
			relative : moving the element relative to its position
	*/
	left: 37.25%;
}

button{
	color: white;
	background-color: #cf0053;
	border: 0px;
	border-radius: 15px;
}