*{
	font-family: "Helvetica",sans-serif;
}

#para3{
	color: #69EBD0;
}

h1{
	font-size: 3em;
}

h2{
	text-transform: uppercase;
}

.itemList1{
	background-color: #95F9E3;
}

li[class="itemList2"]{
	border: 1px;
	border-style: solid;
	border-color:blue ;
}

img+ol{
	list-style-type: none;
}


section img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

ol ~ p{
	text-align: center;
}

section > ol#itemList3{
	letter-spacing: 5px;

}